<div class="like-created-comments text-gray-600 flex justify-between mt-1">

     <div class="like-count text-xs text-red-500">
          <%= link_to user_post_path(post.user, post) do %>
               <%= post.likes_count %>
               <%= fa_icon("heart", class: "text-sm") %> &#8226;
               <%= post.comments.count %>
               <%= fa_icon("comment", class: 'text-sm') %>
          <% end %>
     </div>

     <div class="created text-xs">
          <%= shorten_time_format(post) %>
     </div>

</div>