<% if user_signed_in? %>
     <nav class="user-nav flex items-center justify-between px-6">
          <div class="nav-left flex items-center">
               <%= link_to image_tag("ima-abbr-logo-ss.png", size: "100x100"), posts_path %>
          </div>
          <div class="user-items">
               <ul class="flex">
                    <li class="mr-4 pr-3 flex self-center border-r-4 border-red-500 border-dashed" ><%= link_to content_tag(:p, "Meme Feed", class: "text-lg text-gray-700 ml-2"), posts_path %></li>
                    <%# <li class="text-3xl mr-4 nav-item-1"> %>
                         <%# <div class="icon-name text-xs text-center text-gray-700">
                              Favorites
                         </div> %>
                         <%# <div class="icon text-center leading-none text-red-600"> %>
                              <%# <%= link_to fa_icon("star") %>
                         <%# </div> %>
                    <%# </li> %>
                    <li class="text-3xl mr-4">
                         <div class="icon-name text-xs text-center text-gray-700">
                              Mof
                         </div>
                         <div class="icon text-center leading-none text-orange-500">
                              <%= link_to fa_icon("fire-extinguisher"), memes_on_fire_path %>
                         </div>
                    </li>
                    <li class="text-3xl mr-4">
                         <div class="icon-name text-xs text-center text-gray-700">
                              Upload
                         </div>
                         <div class="icon text-center leading-none text-blue-400">
                              <%= link_to fa_icon("upload"), new_user_post_path(current_user) %>
                         </div>
                    </li>
                    <li class="text-3xl mr-4">
                         <div class="icon-name text-xs text-center text-gray-700">
                              Logout
                         </div>
                         <div class="icon text-center leading-none text-gray-600">
                              <%= link_to fa_icon("sign-out"), destroy_user_session_path, method: :delete %>
                         </div>
                    </li>
                    <li class="text-3xl mr-4">
                         <div class="icon-name text-xs text-center text-gray-700">
                              My Profile
                         </div>
                         <div class="icon text-center leading-none text-black">
                              <%= link_to fa_icon("user"), user_path(current_user) %>
                         </div>
                    </li>
                    <%# <li class="profile-bg-img rounded-full cursor-pointer"> %>
                         <%# <%= image_tag(current_user.profile_image, size: "25x25") %>
                    <%# </li> %>
               </ul>
          </div>
     </nav>
     <div class="fake-border-bottom flex">
          <div class="bottom-1 border-2 border-red-600 w-1/3"></div>
          <div class="bottom-2 border-2 border-orange-500 w-1/3"></div>
          <div class="bottom-3 border-2 border-blue-400 w-1/3"></div>
     </div>
<% end %>