<h1 class="text-3xl text-center pt-6 tracking-wide">Meme Feed</h1>
<div class="mf-posts grid p-6">

     <% @posts.each do |post| %>

          <div class="action-item-wrapper">
          
               <div class="post-user-name">
                    <%= link_to truncate_name_if_too_long(post), user_path(post.user), class: "text-blue-500" %>
               </div>

               <div class="post-action-items border border-2 rounded text-center grid">

                    <div>
                         <%= render partial: "posts/shared/meme_post", locals: { post: post } %>
                    </div>

                    <div class="self-center text-sm">
                         <%= render partial: "posts/shared/edit_or_delete", locals: { post: post } %>
                    </div>

               </div>

               <%= render partial: "posts/shared/metadata", locals: { post: post } %>

               <div class="tag_list mt-1">
                    <% post.tag_list.each do |tag| %>
                         <%= link_to tag, post_tag_path(post, tag), class: "text-xs border mt-1 py-1 px-2 rounded-full border-blue-500 text-blue-500" %>
                    <%end%>
               </div>

          </div>

     <% end %>

</div>