<h1>A Particular post</h1>

<%= render partial: "posts/shared/meme_post", locals: { post: @post } %><br>
<div>
     <p><%= render "likes/button_and_count" %></p>
</div>
<%= link_to "Meme Feed", posts_path %>
<%= render partial: "posts/shared/edit_or_delete", locals: { post: @post } %>

<div>
     <p><%= render "comments/comments" %></p>
</div>
<div>
     <p><%= render "comments/form" %></p>
</div>
<div>
     <ul>
          <% @likers.each do |user| %>
               <li><%= user.name %></li>
          <% end %>
     </ul>
</div>




