<h1>A Particular post</h1>

<%= image_tag(@post.image_url, size: "200x200", alt: "First meme post") %><br>
<%= link_to "Meme Feed", posts_path %> |
<%= link_to "Edit Post", edit_user_post_path(@post.user, @post) %> |
<%= link_to "Delete Post", user_post_path(@post.user, @post), method: :delete, data: { confirm: "Are you sure?" } %>
<div>
     <p><%= render "comments/comments" %></p>
</div>
<div>
     <p><%= render "comments/form" %></p>
</div>




