<%= render "users/shared/user_navbar" %>
<div class="show-pg-wrapper flex">
     <div class="col-1 bg-red-600 w-1/3"></div>
     <div class="col-2 bg-orange-500 w-1/3"></div>
     <div class="col-3 bg-blue-400 w-1/3"></div>
</div>

<div class="meme-post px-20 flex items-center justify-center">
     <div class="meme mr-4">
          <%= link_to truncate_name_if_too_long(@post), user_path(@post.user), class: "text-white" %>
          <%= render partial: "posts/shared/meme_post", locals: { post: @post } %>
          <div class="flex items-center justify-center">
               <p>
                    <%= render "likes/button_and_count" %>
               </p>
          </div>
     </div>

     <div class="comments border rounded-lg p-6 bg-white flex flex-col overflow-scroll ml-4">
          <div class="">
               <%= render "comments/form" %>
          </div>
          <%= render "comments/comments" %>
     </div>

</div>