<!DOCTYPE html>
<html>
  <head>
    <title>Itmemesalot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice bg-green-400 text-white"><%= notice %></p>
    <p class="alert bg-red-600 text-white"><%= alert %></p>

    <%= yield %>
  </body>
</html>
